@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Tittle = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET Core MVC Demo </h1>
    <p class="lead"> Preencher e enviar o formulário. </p>
    <p><a href="/Home/Criar" class="btn btn-primary btn-large">Criar &raquo;</a></p>
</div>